kind: Kustomization
namespace: rook-ceph
labels: 
  - includeSelectors: true
    pairs:
      app: rook-ceph

resources:
- generated.yaml
- ceph-cluster.yaml
- ceph-block-pool.yaml

patches:
- target:
    group: apiextensions.k8s.io
    kind: CustomResourceDefinition
  patch: |-
    - op: add
      path: /metadata/annotations/argocd.argoproj.io~1sync-options
      value: "Replace=true"
