kind: Kustomization
namespace: ingress-nginx
labels:
- includeSelectors: true
  pairs:
    app: ingress-nginx

resources:
- cert.yaml
- deploy.yaml

patches:
- patch: |-
    $patch: delete
    apiVersion: v1
    kind: Namespace
    metadata:
      name: ingress-nginx
- target:
    group: ""
    kind: Service
    name: ingress-nginx-controller
  patch: |-
    - op: add
      path: /spec/loadBalancerIP
      value: 192.168.1.100
- target:
    group: apps
    kind: Deployment
    name: ingress-nginx-controller
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --default-ssl-certificate=$(POD_NAMESPACE)/wildcard-zeb17-internal
