global:
  domain: argocd.zeb17-int.duckdns.org

configs:
  cm:
    server.insecure: "true"
    timeout.reconciliation: 30s
  repositories:
    zbialik-homelab-repo:
      url: https://github.com/zbialik/homelab.git
      name: zbialik-homelab
      type: git

  secret:
    createSecret: false

controller:
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 1Gi

dex:
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 5m
      memory: 32Mi

redis:
  exporter:
    resources:
      limits:
        cpu: 50m
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 32Mi

  resources:
    limits:
      cpu: 200m
      memory: 100Mi
    requests:
      cpu: 100m
      memory: 50Mi

server:
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hostname: "argocd.zeb17-int.duckdns.org"
    extraTls:
      - hosts:
          - argocd.zeb17-int.duckdns.org
  resources:
    limits:
      cpu: 250m
      memory: 200Mi
    requests:
      cpu: 250m
      memory: 200Mi

repoServer:
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 256Mi

applicationSet:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

notifications:
  enabled: false
