configs:
  cm:
    timeout.reconciliation: 30s
  repositories:
    zbialik-homelab-repo:
      url: https://github.com/zbialik/homelab.git
      name: zbialik-homelab
      type: git

  secret:
    createSecret: false

controller:
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 768Mi

dex:
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 5m
      memory: 32Mi

redis:
  exporter:
    resources:
      limits:
        cpu: 50m
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 32Mi

  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

server:
  ingress:
    enabled: true
    hostname: "argocd.zeb17-int.duckdns.org"
    tls: true
  resources:
    limits:
      cpu: 1
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi

repoServer:
  resources:
    limits:
      cpu: 1
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi

applicationSet:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 128Mi

notifications:
  enabled: false
